body {
    margin: 0;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;
    background: #1E1E1E;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 5em;
    padding: 1px 25px;
    background: rgba(123, 74, 226, 0.05);
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    border-color: rgba(123, 74, 226, 0.1);
    border-width: 1px;
    border-style: solid;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .menu a {
    text-decoration: none;
    margin-left: 2.5em;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  .menu a:hover{
    content: "";
    color: rgba(123, 74, 226, 0.5);
  }

  .block1{
    margin-top: 7em;
    margin-left: 7em;
    margin-right: 7em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }
  .tpod1, .tpod2 .tpod3{
    display: flex; 
    flex-direction: column;
    justify-content: right;
  }
  .text1{
    margin-top: 2em;
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255)
  }
  .podtext1, .podtext2{
    margin-top: -2em;
    font-weight: 100;
    font-size: 20px;
    color: rgb(164, 163, 163)
  }
  .photo{
    border-radius: 10px 10px 10px 10px;
  }
  .aboutmy{
    margin-top: 8em;
    display: flex; 
    flex-direction: row-reverse;
    padding-right: 70px;
    padding-left: 40px;
    gap: 55px;
    justify-content: space-around;
    color: rgb(255, 255, 255)
  }
  .photo2{
    margin-top: 1em;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    height: 410px;
    width: 600px;
    left: 1em;
  }
  .text2, .text4 {
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }
  .text3{
    font-weight: 600;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  .name{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    color: rgb(255, 255, 255)
  }

  .works{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 56px;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
  }
.blog{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 230px;
    margin-bottom: 3em;
    color: rgb(255, 255, 255)
  }
  .reviews{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 56px;
    margin-bottom: 6em;
    color: rgb(255, 255, 255)
  }


 .zna1{
    border-radius: 16px;
    padding: 20px;
    width: 360px;
    color: rgb(255, 255, 255);
    border-color: rgba(123, 74, 226, 0.1);
    border-width: 2px;
    border-style: solid;
  }
  .zna1:hover{
    background: rgba(123, 74, 226, 0.1);
  }

  .zag{
    font-weight: 600;
    font-size: 20px;

  }

  .pin{
    border-radius: 10px;
    margin-left: 3.5em;
    margin-top: 6em;
    width: 230px;
  }